{% extends 'layout.html' %}

{% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Jumbotron Template for Bootstrap</title>
        <!-- Custom styles for this template -->
        <link ref="stylesheet" href="{{url_for('static', filename='css/jumbotron.css')}}">   
{% endblock %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
    <div class="row" style="margin-top: 20px; padding: 0px;">
        <div class="col-md-7" style="padding: 0px">
            <input type="text" class="form-control" value="GABP, TERT, CD11b, cancer">
            <h5 style="margin-top:16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(51, 51, 51);">1 to 20 of 1,308,853 matched papers</h5> 
        </div>
        <div class="col-md-1" style="margin: 0px; padding: 0px">
            <button type="button" class="btn bg-info btn-primary" style="margin: 0px">search</button>
        </div>
        <div style="padding: 0px;" class="col-md-4">
            <ul class="list-group"> 
                <li class="list-group-item list-group-item-info" href="#">
                    <b>Detected entities in query</b>
                </li>
                <li class="list-group-item" href="#">
                    <span class="label label-danger" style="margin-left:5px; font-size:14px;">cancer</span>
                    <span class="label label-primary" style="margin:5px; font-size:14px;">GABP</span>
                    <span class="label label-primary" style="margin:5px; font-size:14px;">CD11b</span>
                    <span class="label label-primary" style="margin:5px; font-size:14px;">TERT</span>&nbsp;
                </li>
            </ul>                     
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="margin: -10px;"></div>
    </div>
    <div class="row">
        <div class="col-md-8" style="padding-left: 0px;">
            <div class="well" style="padding: 0px; padding-left: 10px;">
                <section style="-bottom:1px; ">
                    <h4><span class="disease-red">Cancer</span>. The transcription factor <span class="gene-blue">GABP</span> selectively binds and activates the mutant <span class="gene-blue">TERT</span> promoter in <span class="disease-red">cancer</span>.</h4>
                    <p class="p1" style="margin-bottom: 2px; color: #808080; ">Bell RJ, Rube HT, Kreig A, etc &nbsp; | &nbsp; Science &nbsp; | &nbsp; Year 2015</p>
                    <p style="margin-bottom: 2px;">Abstract: Reactivation of telomerase reverse transcriptase (<span class="gene-blue">TERT</span>) expression enables cells to overcome replicative senescence and escape apoptosis, which are fundamental steps in the initiation of human <span class="disease-red">cancer</span>… (<a href="#">More</a>)</p>
                    <p class="p1" style="margin-bottom:1px;">Matched terms: <span class="disease-red">cancer</span>, <span class="gene-blue">TERT</span>, <span class="gene-blue">GABP</span></p>
                </section>
            </div>
            <div class="well" style="padding: 0px; padding-left: 10px;">
                <section style="-bottom:1px;">
                    <h4>An interaction proteomics survey of transcription factor binding at recurrent&nbsp;<span class="gene-blue">TERT</span> promoter mutations.</h4>
                    <p class="p1" style="margin-bottom: 2px; color: #808080; ">Makowski MM, Willems E, Fang J, etc &nbsp; | &nbsp; Proteomics. &nbsp; | &nbsp; Year 2016</p>
                    <p style="margin-bottom: 2px;">Abstract: Aberrant telomerase reactivation in differentiated cells represents a major event in oncogenic transformation. Recurrent somatic mutations in the human telomerase reverse transcriptase (<span class="gene-blue">TERT</span>) promoter region, predominantly localized to … (<a href="#">More</a>)</p>
                    <p class="p1" style="margin-bottom:1px;">Matched entities: <span class="disease-red">cancer</span>, <span class="gene-blue">TERT</span>, <span class="gene-blue">GABP</span></p>
                    <hr style="margin: 4px;">
                </section>
            </div>
            <div class="well" style="padding: 0px; padding-left: 10px;">
                <section style="-bottom:1px;">
                    <h4>High&nbsp;<span class="gene-blue">TERT</span> promoter mutation frequency in non-acral cutaneous metastatic melanoma.</h4>
                    <p class="p1" style="margin-bottom: 2px; color: #808080; ">Ekedahl H, Lauss M, Olsson H, etc. &nbsp; | &nbsp; Pigment Cell Melanoma Res. &nbsp; | &nbsp; Year 2016</p>
                    <p style="margin-bottom: 2px;">Abstract: ... In 2013 two independent studies discovered high frequencies of mutations in the promoter of telomerase reverse transcriptase (<span class="gene-blue">TERT</span>) in melanoma (Horn et al., 2013; Huang et al., 2013).&nbsp;<span class="gene-blue">TERT</span> encodes the catalytic reverse transcriptase subunit of telomerase… (<a href="#" style="line-height: 1.42857143; background-color: rgb(255, 255, 255);">More</a>)</p>
                    <p class="p1" style="margin-bottom:1px;">Matched entities: <span class="disease-red">cancer</span>, <span class="gene-blue">TERT</span>, <span class="gene-blue">GABP</span></p>
                    <hr style="margin: 4px;">
                </section>
            </div>
            <div class="row" style="margin: 0px; padding: 0px">
                <ul class="pagination pagination-sm text-center pull-right" style="margin: 0px"> 
                    <li>
                        <a href="#">&laquo;</a>
                    </li>                             
                    <li class="active">
                        <a href="#">1 <span class="sr-only">(current)</span></a>
                    </li>                             
                    <li>
                        <a href="#">2</a>
                    </li>                             
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>                             
                    <li>
                        <a href="#">&raquo;</a>
                    </li>                             
                </ul>
            </div>                     
        </div>
        <div class="col-md-4">
            <ul class="list-group"> 
                <li class="list-group-item list-group-item-info" href="#">
                    <b>Frequent gene entities in top results&nbsp;</b>
                </li>
                <li class="list-group-item" href="#">
                    <span class="badge">116</span>TERT
                </li>
                <li class="list-group-item" href="#">
                    <span class="badge">13</span>telomerase reverse transcriptase
                </li>
                <li class="list-group-item" href="#">
                    <span class="badge">12</span>CD11b
                </li>
                <li class="list-group-item" href="#">BRAF
                    <span class="badge">11</span>
                </li>
                <li class="list-group-item" href="#">...</li>
            </ul>
            <ul class="list-group"> 
                <li class="list-group-item list-group-item-info" style="padding-right:0px">
                    <b>Frequent disease entities in top results</b>&nbsp;
                </li>                         
                <li class="list-group-item">cancer
                    <span class="badge">41</span>
                </li>
                <li class="list-group-item">TC
                    <span class="badge">9</span>
                </li>                         
                <li class="list-group-item">
                    <span class="badge">9</span>tumor
                </li>
                <li class="list-group-item">
                    <span class="badge">8</span>UBC
                </li>
                <li class="list-group-item">...</li>                         
            </ul>                     
        </div>
    </div>
    <footer>
        <p>&nbsp;</p>
    </footer>
    <!-- Example row of columns -->
</div>
<div class="panel"> 
</div>         
<!-- /container -->
{% endblock %}
